<h1><%= @pic.title %></h1>
<%= image_tag @pic.image.url %>
<p><%= @pic.description %></p>
<p>Picture from:
    <%= @pic.user.email %></p>
</br>

<%= link_to "Back", root_path %>
<%= link_to "Edit", edit_pic_path %>
<%= link_to "Delete", pic_path, method: :delete, data: { confirm: "Are you sure?" } %>